/*
 * Default config options for all pipelines
 */

// Global default params, used in configs
params {

  // General params
  outdir = './results'
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h

  // imputeData
  HRCref = "/home/SHARED/DISK/DATA/REFERENCES/1000GP_Imputation/HRC.r1-1.GRCh37.wgs.mac5.sites.tab"
}

// Container slug. Stable releases should specify release tag!
process.container = 'yocra3/obesity_analysis:1.0'

profiles {
  docker {
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}
